{% load static %}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<head>

    <meta charset="utf-8" />
    <title>Vangardfx - Grow your portfolio with ease</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Vangardfx - Invest in forex and defi with ease" name="description" />
    <meta content="Vangardfx" name="author" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- App favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet3.css' %}">
    <!-- Colors Css -->
    <link id="color-switcher" type="text/css" rel="stylesheet" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="shortcut icon" href="{% static 'favicon-32x32.png' %}">
</head>
<link
href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/line-awesome@1.3.0/dist/line-awesome/css/line-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.0/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
    <link rel="shortcut icon" href="asset/images/favicon.ico">
    <!-- shepherd.js css -->
    <link rel="stylesheet" href="assets/libs/shepherd.js/css/shepherd.css">
    <!-- Layout config Js -->
    <script src="{% static 'asset/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'asset/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'asset/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'asset/css/custom.min.css' %}" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="min-height: 100vh;">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <div class="preloader" id="loader" style="background: #f2f2f2; align-items: center; justify-content: center; display: flex;">
        
        <div class="loader">
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
            <div class="loader-square"></div>
        </div>
    </div>
    <script>
        // Function to hide the preloader
        $(document).ready(function() {
            window.onload = function () {
            $('#loader').fadeOut(0, function(){ $('#loader').remove(); } );
            }
            });
      </script>
    <style>
        @keyframes square-animation {
            0% {
             left: 0;
             top: 0;
            }
           
            10.5% {
             left: 0;
             top: 0;
            }
           
            12.5% {
             left: 32px;
             top: 0;
            }
           
            23% {
             left: 32px;
             top: 0;
            }
           
            25% {
             left: 64px;
             top: 0;
            }
           
            35.5% {
             left: 64px;
             top: 0;
            }
           
            37.5% {
             left: 64px;
             top: 32px;
            }
           
            48% {
             left: 64px;
             top: 32px;
            }
           
            50% {
             left: 32px;
             top: 32px;
            }
           
            60.5% {
             left: 32px;
             top: 32px;
            }
           
            62.5% {
             left: 32px;
             top: 64px;
            }
           
            73% {
             left: 32px;
             top: 64px;
            }
           
            75% {
             left: 0;
             top: 64px;
            }
           
            85.5% {
             left: 0;
             top: 64px;
            }
           
            87.5% {
             left: 0;
             top: 32px;
            }
           
            98% {
             left: 0;
             top: 32px;
            }
           
            100% {
             left: 0;
             top: 0;
            }
           }
           
           .loader {
            position: relative;
            width: 96px;
            height: 96px;
            transform: rotate(45deg);
           }
           
           .loader-square {
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 28px;
            margin: 2px;
            border-radius: 0px;
            background: #d5a105;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            animation: square-animation 10s ease-in-out infinite both;
           }
           
           .loader-square:nth-of-type(0) {
            animation-delay: 0s;
           }
           
           .loader-square:nth-of-type(1) {
            animation-delay: -1.4285714286s;
           }
           
           .loader-square:nth-of-type(2) {
            animation-delay: -2.8571428571s;
           }
           
           .loader-square:nth-of-type(3) {
            animation-delay: -4.2857142857s;
           }
           
           .loader-square:nth-of-type(4) {
            animation-delay: -5.7142857143s;
           }
           
           .loader-square:nth-of-type(5) {
            animation-delay: -7.1428571429s;
           }
           
           .loader-square:nth-of-type(6) {
            animation-delay: -8.5714285714s;
           }
           
           .loader-square:nth-of-type(7) {
            animation-delay: -10s;
           }
           .info-toast{
            background: #d4a003;
            font-size: 15px;
            
           }
            button .toast-close{
                color: #fff;
                background: #fff;
           }
    </style>
    <script defer>
        function generateRandomPhoneNumber() {
            const digits = Math.floor(Math.random() * 10000000000).toString().padStart(10, '0');
            return `${digits.substring(3, 6)}`;
        }
    
        function generateRandomValue() {
            return Math.floor(Math.random() * (50000 - 100 + 1)) + 100;
        }
    
        function getRandomToastMessage() {
            const templates = [
                `User ${generateRandomPhoneNumber()} invested $${generateRandomValue()}`,
                `User ${generateRandomPhoneNumber()} deposited $${generateRandomValue()}`,
                `User ${generateRandomPhoneNumber()} withdrew $${generateRandomValue()}`,
                `User ${generateRandomPhoneNumber()} upgraded plan`,
                // Add more templates as needed
            ];
    
            const randomIndex = Math.floor(Math.random() * templates.length);
            return templates[randomIndex];
        }
    
        function displayRandomToast() {
            const toastMessage = getRandomToastMessage();
    
            Toastify({
                text: toastMessage,
                duration: 5000,
                close: true,
                className: "info-toast",
                position: "center",
                gravity: 'top',
            }).showToast();
        }
    
        setInterval(displayRandomToast, 20000);
    </script>
    <!-- Begin page -->
    <div id="layout-wrapper" style="flex: 1;">

        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'asset/images/logo.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'asset/images/logo.png' %}" alt="" height="17">
                                </span>
                            </a>

                            <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'asset/images/logo.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'asset/images/logo.png' %}" alt="" height="18">
                                </span>
                            </a>
                        </div>

                        <button type="button"
                            class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                            id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                        <!-- App Search-->
                        <form class="app-search d-none d-md-block" action="{% url 'core:search' %}" method="GET">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search..." autocomplete="on"
                                    id="search-options" name="search"  required>
                                <span class="mdi mdi-magnify search-widget-icon"></span>
                                <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none"
                                    id="search-close-options"></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                                <div data-simplebar style="max-height: 320px;">
                                    <!-- item-->
                                    
                                    <!-- item-->
                                    <a href="{% url "core:plans" %}">
                                        <div class="dropdown-header mt-2">
                                            <h6 class="text-overflow  mb-1 text-uppercase">Plans</h6>
                                        </div>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url "core:dashboard" %}" class="dropdown-item notify-item">
                                        <i class="ri-bubble-chart-line align-middle fs-18 text-muted me-2"></i>
                                        <span>Dashboard</span>
                                    </a>
                                    <a href="{% url "core:deposit" %}" class="dropdown-item notify-item">
                                        <i class="ri-bank-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>Deposit</span>
                                    </a>
                                    <a href="{% url "core:deposits" %}" class="dropdown-item notify-item">
                                        <i class="ri-exchange-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>My Deposits</span>
                                    </a>
                                    <!-- item-->
                                    <a href="{% url "core:contact" %}" class="dropdown-item notify-item">
                                        <i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
                                        <span>Help Center</span>
                                    </a>
                                    <a href="{% url "core:contact" %}" class="dropdown-item notify-item">
                                        <i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
                                        <span>Contact</span>
                                    </a>
                                    <a href="" class="dropdown-item notify-item">
                                        <i class="ri-arrow-left-down-line align-middle fs-18 text-muted me-2"></i>
                                        <span>Withdraw</span>
                                    </a>
                                    <!-- item-->
                                    <a href="{% url "core:profile-settings" %}" class="dropdown-item notify-item">
                                        <i class="ri-settings-3-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>Account Settings</span>
                                    </a>
                                    <a href="{% url "core:profile" %}" class="dropdown-item notify-item">
                                        <i class="ri-user-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>My Account</span>
                                    </a>
                                    <a href="{% url "core:plans" %}" class="dropdown-item notify-item">
                                        <i class="ri-line-chart-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>Investment Plans</span>
                                    </a>
                                    <a href="{% url "core:transactions" %}" class="dropdown-item notify-item">
                                        <i class="ri-history-fill align-middle fs-18 text-muted me-2"></i>
                                        <span>Transaction History</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{% url "core:transactions" %}">
                                        <div class="dropdown-header mt-2">
                                            <h6 class="text-overflow  mb-2 text-uppercase">Transactions</h6>
                                        </div>
                                    </a>
                                   
                                </div>

                                <div class="text-center pt-3 pb-1">
                                    <a type="submit" class="btn btn-primary btn-sm">View All Results
                                        <i class="ri-arrow-right-line ms-1"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ms-1 header-item d-sm-flex">
                        <button style="border: none;"><span id="google_translate_element" class="google_t"></span></button>
                   </div>
                 
                   <style>
                       .goog-te-combo{
                           border: #fff;
                       }
                       .VIpgJd-ZVi9od-ORHb-OEVmcd{
                           display: none;
                       }
                       .VIpgJd-ZVi9od-l4eHX-hSRGPd{
                           display: none;
                       }
                       
                       .VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate{
                           
                       }
                       .goog-te-combo {
                         height: 25px; 
                         border: 1px solid #0b244b;
                         border-radius: 1px;
                         font-family: 'Poppins', sans-serif;
                       }
                       .js-darkmode-btn{
                           transform: translateX(45px);
                       }
                   </style>
                    <div class="d-flex align-items-center">

                        <div class="dropdown d-none topbar-head-dropdown header-item">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bx bx-search fs-22"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                                <form class="p-3 app-search" action="{% url 'core:search' %}" method="GET">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search..." autocomplete="on"
                                                aria-label="Recipient's username" id="search-options" name="search">
                                                
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                                            <div data-simplebar style="max-height: 320px;">
                                                <!-- item-->
                                                
                                                <!-- item-->
                                                <a href="{% url "core:plans" %}">
                                                    <div class="dropdown-header mt-2">
                                                        <h6 class="text-overflow  mb-1 text-uppercase">Plans</h6>
                                                    </div>
                                                </a>
            
                                                <!-- item-->
                                                <a href="{% url "core:dashboard" %}" class="dropdown-item notify-item">
                                                    <i class="ri-bubble-chart-line align-middle fs-18 text-muted me-2"></i>
                                                    <span>Dashboard</span>
                                                </a>
                                                <a href="{% url "core:deposit" %}" class="dropdown-item notify-item">
                                                    <i class="ri-bank-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>Deposit</span>
                                                </a>
                                                <a href="{% url "core:deposits" %}" class="dropdown-item notify-item">
                                                    <i class="ri-exchange-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>My Deposits</span>
                                                </a>
                                                <!-- item-->
                                                <a href="{% url "core:contact" %}" class="dropdown-item notify-item">
                                                    <i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
                                                    <span>Help Center</span>
                                                </a>
                                                <a href="{% url "core:contact" %}" class="dropdown-item notify-item">
                                                    <i class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"></i>
                                                    <span>Contact</span>
                                                </a>
                                                <a href="" class="dropdown-item notify-item">
                                                    <i class="ri-arrow-left-down-line align-middle fs-18 text-muted me-2"></i>
                                                    <span>Withdraw</span>
                                                </a>
                                                <!-- item-->
                                                <a href="{% url "core:profile-settings" %}" class="dropdown-item notify-item">
                                                    <i class="ri-settings-3-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>Account Settings</span>
                                                </a>
                                                <a href="{% url "core:profile" %}" class="dropdown-item notify-item">
                                                    <i class="ri-user-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>My Account</span>
                                                </a>
                                                <a href="{% url "core:plans" %}" class="dropdown-item notify-item">
                                                    <i class="ri-line-chart-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>Investment Plans</span>
                                                </a>
                                                <a href="{% url "core:transactions" %}" class="dropdown-item notify-item">
                                                    <i class="ri-history-fill align-middle fs-18 text-muted me-2"></i>
                                                    <span>Transaction History</span>
                                                </a>
            
                                                <!-- item-->
                                                <a href="{% url "core:transactions" %}">
                                                    <div class="dropdown-header mt-2">
                                                        <h6 class="text-overflow  mb-2 text-uppercase">Transactions</h6>
                                                    </div>
                                                </a>
                                               
                                            </div>
            
                                            <div class="text-center pt-3 pb-1">
                                                <a type="submit" class="btn btn-primary btn-sm">View All Results
                                                    <i class="ri-arrow-right-line ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>



                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                data-toggle="fullscreen">
                                <i class='bx bx-fullscreen fs-22'></i>
                            </button>
                        </div>

                        <div class="ms-1 header-item d-sm-flex">
                            <button type="button"
                                class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class='bx bx-moon fs-22'></i>
                            </button>
                        </div>

                        {% comment %} <div class="dropdown topbar-head-dropdown ms-1 header-item" id="notificationDropdown">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                id="page-header-notifications-dropdown" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                                <i class='bx bx-bell fs-22'></i>
                                <span
                                    class="position-absolute topbar-badge fs-10 translate-middle badge rounded-pill bg-danger">3<span
                                        class="visually-hidden">unread messages</span></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">

                                <div class="dropdown-head bg-primary bg-pattern rounded-top">
                                    <div class="p-3">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-0 fs-16 fw-semibold text-white"> Notifications </h6>
                                            </div>
                                            <div class="col-auto dropdown-tabs">
                                                <span class="badge bg-light-subtle text-body fs-13"> 4 New</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="px-2 pt-2">
                                        <ul class="nav nav-tabs dropdown-tabs nav-tabs-custom" data-dropdown-tabs="true"
                                            id="notificationItemsTab" role="tablist">
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#all-noti-tab"
                                                    role="tab" aria-selected="true">
                                                    All (4)
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link" data-bs-toggle="tab" href="#messages-tab" role="tab"
                                                    aria-selected="false">
                                                    Messages
                                                </a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link" data-bs-toggle="tab" href="#alerts-tab" role="tab"
                                                    aria-selected="false">
                                                    Alerts
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="tab-content position-relative" id="notificationItemsTabContent">
                                    <div class="tab-pane fade show active py-2 ps-2" id="all-noti-tab" role="tabpanel">
                                        <div data-simplebar style="max-height: 300px;" class="pe-2">
                                            <div
                                                class="text-reset notification-item d-block dropdown-item position-relative">
                                                <div class="d-flex">
                                                    <div class="avatar-xs me-3 flex-shrink-0">
                                                        <span
                                                            class="avatar-title bg-info-subtle text-info rounded-circle fs-16">
                                                            <i class="bx bx-badge-check"></i>
                                                        </span>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-2 lh-base">Your <b>Elite</b> author
                                                                Graphic
                                                                Optimization <span class="text-secondary">reward</span>
                                                                is
                                                                ready!
                                                            </h6>
                                                        </a>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> Just 30 sec
                                                                ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="all-notification-check01">
                                                            <label class="form-check-label"
                                                                for="all-notification-check01"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="text-reset notification-item d-block dropdown-item position-relative">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-2.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs flex-shrink-0"
                                                        alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">Angela Bernier</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">Answered to your comment on the cash flow
                                                                forecast's
                                                                graph 🔔.</p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 48 min
                                                                ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="all-notification-check02">
                                                            <label class="form-check-label"
                                                                for="all-notification-check02"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="text-reset notification-item d-block dropdown-item position-relative">
                                                <div class="d-flex">
                                                    <div class="avatar-xs me-3 flex-shrink-0">
                                                        <span
                                                            class="avatar-title bg-danger-subtle text-danger rounded-circle fs-16">
                                                            <i class='bx bx-message-square-dots'></i>
                                                        </span>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-2 fs-13 lh-base">You have received <b
                                                                    class="text-success">20</b> new messages in the
                                                                conversation
                                                            </h6>
                                                        </a>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 2 hrs ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="all-notification-check03">
                                                            <label class="form-check-label"
                                                                for="all-notification-check03"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="text-reset notification-item d-block dropdown-item position-relative">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-8.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs flex-shrink-0"
                                                        alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">Maureen Gibson</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">We talked about a project on linkedin.</p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 4 hrs ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="all-notification-check04">
                                                            <label class="form-check-label"
                                                                for="all-notification-check04"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="my-3 text-center view-all">
                                                <button type="button"
                                                    class="btn btn-soft-success waves-effect waves-light">View
                                                    All Notifications <i
                                                        class="ri-arrow-right-line align-middle"></i></button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade py-2 ps-2" id="messages-tab" role="tabpanel"
                                        aria-labelledby="messages-tab">
                                        <div data-simplebar style="max-height: 300px;" class="pe-2">
                                            <div class="text-reset notification-item d-block dropdown-item">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-3.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">James Lemire</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">We talked about a project on linkedin.</p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 30 min
                                                                ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="messages-notification-check01">
                                                            <label class="form-check-label"
                                                                for="messages-notification-check01"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-reset notification-item d-block dropdown-item">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-2.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">Angela Bernier</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">Answered to your comment on the cash flow
                                                                forecast's
                                                                graph 🔔.</p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 2 hrs ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="messages-notification-check02">
                                                            <label class="form-check-label"
                                                                for="messages-notification-check02"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-reset notification-item d-block dropdown-item">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-6.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">Kenneth Brown</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">Mentionned you in his comment on 📃 invoice
                                                                #12501.
                                                            </p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 10 hrs
                                                                ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="messages-notification-check03">
                                                            <label class="form-check-label"
                                                                for="messages-notification-check03"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-reset notification-item d-block dropdown-item">
                                                <div class="d-flex">
                                                    <img src="{% static 'asset/images/users/avatar-8.jpg' %}"
                                                        class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                                    <div class="flex-grow-1">
                                                        <a href="#!" class="stretched-link">
                                                            <h6 class="mt-0 mb-1 fs-13 fw-semibold">Maureen Gibson</h6>
                                                        </a>
                                                        <div class="fs-13 text-muted">
                                                            <p class="mb-1">We talked about a project on linkedin.</p>
                                                        </div>
                                                        <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                                                            <span><i class="mdi mdi-clock-outline"></i> 3 days
                                                                ago</span>
                                                        </p>
                                                    </div>
                                                    <div class="px-2 fs-15">
                                                        <div class="form-check notification-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="messages-notification-check04">
                                                            <label class="form-check-label"
                                                                for="messages-notification-check04"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="my-3 text-center view-all">
                                                <button type="button"
                                                    class="btn btn-soft-success waves-effect waves-light">View
                                                    All Messages <i
                                                        class="ri-arrow-right-line align-middle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-4" id="alerts-tab" role="tabpanel"
                                        aria-labelledby="alerts-tab"></div>

                                    <div class="notification-actions" id="notification-actions">
                                        <div class="d-flex text-muted justify-content-center">
                                            Select <div id="select-content" class="text-body fw-semibold px-1">0</div>
                                            Result <button type="button" class="btn btn-link link-danger p-0 ms-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#removeNotificationModal">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        
                        {% if request.user.is_authenticated %}
                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user"
                                        src="{% static 'asset/images/users/user.png' %}" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">

                                        <span
                                            class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Hello</span>
                                        <span
                                            class="d-none d-xl-block ms-1 fs-12 user-name-sub-text">{{user.username|capfirst|truncatechars:15}}</span>

                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome {{user.username|capfirst|truncatechars:15}}</h6>
                                <a class="dropdown-item" href="{% url "core:profile" %}"><i
                                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Profile</span></a>
                            
                                <a class="dropdown-item" href="{% url "core:dashboard" %}"><i
                                        class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Dashboard</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url "core:profile" %}"><i
                                        class="mdi mdi-wallet text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Balance : <b>${{request.user.total_balance}}</b></span></a>
                                <a class="dropdown-item" href="{% url "core:profile-settings" %}"><i
                                        class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Settings</span></a>
                                <a class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#logoutNotificationModal" style="cursor: pointer;"><i
                                        class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" id="alert">
                    <strong>{{ message }}</strong>
                </div>

                {% endfor %}
                {% endif %}
				<script>
					// Get the reference to the div
					var myDiv = document.getElementById("alert");
			
					// Define a function to be executed after a delay
					function hideDiv() {
						// Set the 'display' property to 'none' to hide the div
						myDiv.style.display = 'none';
					}
			
					// Set a timeout for 3000 milliseconds (3 seconds)
					setTimeout(hideDiv, 3000);
				</script>
            </div>
        </header>

        {% block content %}

        {% endblock content %}
        <footer class="footer" style="position: fixed; bottom: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Vangardfx.
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->








    <!-- JAVASCRIPT -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/waves.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'asset/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'asset/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'js/apexcharts.min.js' %}"></script>

    <!-- Swiper Js -->
    <script src="{% static 'asset/libs/swiper/swiper-bundle.min.js' %}"></script>

    <!-- CRM js -->
    <script src="{% static 'asset/js/pages/dashboard-crypto.init.js' %}"></script>
    <!-- shepherd js -->
    <script src="{% static "js/shepherd.min.js" %}"></script>

    <!-- tour init -->
    <script src="{% static " asset/js/pages/tour.init.js" %}"></script>
    <!-- cleave.js -->
    <script src="{% static "js/cleave.min.js" %}"></script>
    <!-- form masks init -->
    <script src="{% static " asset/js/pages/form-masks.init.js" %}"></script>

    <!-- App js -->
    <script src="{% static 'asset/js/app.js' %}"></script>
    <script src="https://www.cryptohopper.com/widgets/js/script"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>

</body>



</html>