{% extends "partials/auth.html" %}
{% load static %}
{% block title %}Vangardfx - OTP{% endblock title %}
{% block content %}
      
      <!-- OTP Form
      ========================= -->
      <div class="col-md-6 col-lg-5 d-flex flex-column align-items-center">
        <div class="container pt-4">
          <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 mx-auto">
              <div class="logo"> <a class="fw-600 text-6 text-dark link-underline link-underline-opacity-0" href="{% url "core:index" %}" title="Vangardfx">VangardFx</a> </div>
            </div>
          </div>
        </div>
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 mx-auto">
              <h3 class="text-12 mb-4">Verify OTP</h3>
              <p class="mb-4 text-muted">Enter the verification code we sent to <span class="text-dark text-3">+1*******179</span></p>
              <p><img class="img-fluid" src="{% static 'images/otp-icon.png' %}" alt="verification"></p>
              <form id="otp-screen" method="post">
                <label class="form-label fw-500">Enter 4 digit code </label>
                <div class="row g-3">
                  <div class="col">
                    <input type="text" class="form-control bg-light border-light text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control bg-light border-light text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control bg-light border-light text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control bg-light border-light text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                </div>
                <div class="d-grid my-4">
                  <button class="btn btn-dark btn-lg" type="submit">Verify</button>
                </div>
              </form>
              <p class="text-2 text-muted text-center">Not received your code? <a href="#">Resend</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- OTP Form End --> 
      
{% endblock content %}