{% extends "partials/auth.html" %}
{% load static %}
{% block title %}VanguardFx - Password Recovery{% endblock title %}
{% block content %}
      <!-- Welcome Text End --> 
      
      <!-- Forgot Password Form
      ========================= -->
      <div class="col-md-6 col-lg-5 d-flex flex-column align-items-center">
        <div class="container pt-4">
          <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 mx-auto">
              <div class="logo"> <a class="fw-600 text-6 text-dark link-underline link-underline-opacity-0" href="{% url "core:index" %}" title="Vangardfx">Vangardfx</a> </div>
            </div>
          </div>
        </div>
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 mx-auto">
              <h3 class="text-12 mb-4">Reset Password</h3>
              <p class="mb-4 text-muted">Enter the email address associated with your account.</p>
              <form id="forgotForm" method="post">
                <label class="form-label fw-500" for="emailAddress">Email</label>
                <div class="mb-3 icon-group icon-group-end">
                  <input type="text" class="form-control bg-light border-light" id="emailAddress" required placeholder="Enter Email">
                  <span class="icon-inside text-muted"><i class="fa fa-envelope"></i></span> </div>
                <div class="d-grid my-4">
                  <button class="btn btn-dark btn-lg" type="submit">Continue</button>
                </div>
                <p class="text-2 text-muted text-center">Return to <a href="{% url "userauths:sign-in" %}">Sign In</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}